@mixin header-button-shape {
  border: 1px solid #553365;
  border-radius: 20px;
  background: rgb(151, 158, 158);
  background: linear-gradient(
    0deg,
    rgb(114, 72, 159) 0%,
    rgba(215, 172, 223, 0.9) 100%
  );
  padding: 10px;
  transition: 0.4s ease;
  cursor: pointer;
  &:hover {
    transform: scale(0.95);
  }
  &:active {
    transform: scale(0.7);
  }
}

@mixin closeBtnCart {
  position: relative;
  border: 1px solid #5b1d22;
  border-radius: 5px;
  background: rgb(151, 158, 158);
  background: linear-gradient(
    0deg,
    rgb(205, 85, 87) 0%,
    rgba(123, 38, 38, 0.9) 100%
  );
  padding: 5px;
  transition: 0.4s ease;
  cursor: pointer;
  &:hover {
    transform: scale(0.99);
  }
  &:active {
    transform: scale(0.9);
  }
}

@mixin set-on-container {
  max-width: 1170px;
  margin: auto;
}

@mixin flex-container {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

@mixin card-style {
  width: 150px;
  overflow-y: hidden;
}

@mixin cross {
  &::before {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #1f0d0d;
    transform: rotate(45deg);
  }
  
  &::after {
    content: '';
    position: absolute;
    top: 10px;
    display: block;
    width: 24px;
    height: 3px;
    background: #1f0d0d;
    transform: rotate(-45deg);
  }
}