.container-cards {
  @include set-on-container;
}

.cards-wrapper {
  padding: 20px 0px;
  text-align: center;
  @include flex-container;
}

.card {
  @include card-style;
}

img {
  width: 100%;
}

p {
  padding: 10px 0px;
}

.card {
  img {
    border-radius: 30px;
  }
  button {
    margin-bottom: 10px;
  }
}
