.container-cards {
  @include set-on-container;
}

.cards-wrapper {
  padding: 50px 0px;
  text-align: center;
  @include flex-container;
}

.card {
  @include card-style;
}

img {
  width: 100%;
}

p {
  padding: 10px 0px;
}

.card {
  img {
    border-radius: 30px;
  }
  button {
    margin-bottom: 10px;
    @include header-button-shape;
  }
}

.card-wrapper,
.clone {
  border: 0.5px solid black;
  border-radius: 30px;
  transition: 0.3s;
  background-color: antiquewhite;
  &:hover {
    scale: 1.2;
    transition: 0.3s;
    cursor: pointer;
  }
}

.card-wrapper-click {
  scale: 2;
  margin: auto;
  position: absolute;
  z-index: 20;
  background-color: antiquewhite;
  transition: 0.3s;
  border: 0.5px solid black;
  border-radius: 30px;
  cursor: pointer;
}
