.container-cards {
  @include set-on-container;
}

.cards-wrapper {
  @include flex-container;
  padding: 20px 0px;
}

img {
  width: 100%;
  height: 100%;
}

.card-wrapper {
  @include card-style;
}
