.footer {
    background-color: #de83de33;
    padding: 30px 0 15px;

    .container {
        max-width: 1170px;
        margin: auto;
    }
      
    .navigation-media-f {
        display: flex;
        justify-content: center;
        margin-bottom: 18px;
    }
  
    .list-media-f {
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        align-items: center;
  
        .item-foot {
            list-style: none;
            cursor: pointer;
            margin: 0 10px; // Изменение отступов
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            background: #de83de00;
            line-height: 52px;
            text-align: center;
            border-radius: 50%;
            transition: 0.5s;
  
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: #6e316e;
                transform: scale(0.9);
                z-index: -1;
            }
  
            &:hover {
                color: black;
                box-shadow: 0px 0px 11px black;
  
                &::before {
                    transform: scale(1.1);
                    box-shadow: 0px 0px 20px var(--color);
                }
            }
  
            .item-faf {
                display: flex;
                width: 100%;
                height: 100%;
                justify-content: center;
                align-items: center;
                font-size: 23px;
                color: #e7e8ef;
                transition: 0.3s;
            }
        }
    }
  
    .footer-text_color {
        font-family: 'Open Sans', 'sans-serif';
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: rgba(12, 12, 12, 0.8);
    }
}


@media (max-width: 320px) {
    .footer {
        padding: 15px 0 10px;

        .container {
            padding: 0 10px;
        }

        .navigation-media-f {
            margin-bottom: 10px;
        }

        .list-media-f {
            flex-wrap: wrap; 
            justify-content: center; 

            .item-foot {
                width: 50px; 
                height: 50px; 
                line-height: 42px; 
                margin: 5px; 
                flex: 0 0 45%; 

                .item-faf {
                    font-size: 18px; 
                }
            }
        }

        .footer-text_color {
            font-size: 10px; 
        }
    }
}
