body {
  position: relative;
  z-index: 1;
}

.modal-open {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #de83de33;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

header {
  background-color: #d7c7ec;
  padding: 0.9375rem 0;
  border-bottom: 1px solid #cfb9ec;
  margin-bottom: 0.5rem;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  @include header-button-shape;
  .logo-link {
    font-size: 1.125rem;
    color: #000000;
    font-weight: 400;
  }
}

#cart-button {
  position: relative;
  z-index: 22;
  @include header-button-shape;
  font-size: 1.125rem;
  font-weight: 400;
  color: #000000;
  cursor: pointer;
}

.search-field-wrap {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 1.25rem;

  .search-button {
    background-image: url("../img/search.svg");
    display: block;
    position: absolute;
    top: 0.625rem;
    right: 3.125rem;
    cursor: pointer;
    transition: 0.5s ease;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 4;
    border: none;
    background-color: white;
    background-size: cover;
  }

  .clear-btn {
    display: block;
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    cursor: pointer;
    transition: 0.5s ease;
    width: 1.25rem;
    height: 1.25rem;
    z-index: 5;

    &::before {
      content: "";
      position: absolute;
      top: 0.625rem;
      display: block;
      width: 1.25rem;
      height: 0.1875rem;
      background: rgba(103, 98, 98, 0.7);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 0.625rem;
      display: block;
      width: 1.25rem;
      height: 0.1875rem;
      background: rgba(103, 98, 98, 0.7);
      transform: rotate(-45deg);
    }
  }

  #search-input {
    box-shadow: inset 0 0 6px black;
    border-radius: $_20px;
    padding: $_10px $_18px;
    font-size: 1.125rem;
    width: 100%;
    text-align: start;
    border: none;
    z-index: 3;
  }
}

.options {
  z-index: 2;
  width: 98%;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 85%;
  left: 1%;
}

.option-item {
  font-size: 1.125rem;
  box-shadow: inset 0 0 6px black;
  background-color: #fff;
  background: white;
  list-style: none;
  box-shadow: 0 0 $_7px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: $_10px $_15px $_10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s ease;

  &:last-child {
    border-bottom-left-radius: $_20px;
    border-bottom-right-radius: $_20px;
  }
}

.no-matches {
  font-size: 1.125rem;
  box-shadow: inset 0 0 $_6px black;
  background-color: #fff;
  background: white;
  list-style: none;
  box-shadow: 0 0 $_7px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: $_15px $_15px $_10px;
  text-transform: capitalize;
  transition: 0.5s ease;
  border-bottom-left-radius: $_20px;
  border-bottom-right-radius: $_20px;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: absolute;
  top: 10vh;
  left: calc(50% - 15%);
  height: 50vh;
  padding: $_10px $_15px;
  width: 35%;
  z-index: 99;
  background-color: #d7c7ec;
  box-shadow: $_2px $_2px $_6px #6e316e, (-$_2px) (-$_2px) $_6px #6e316e;
  border-radius: $_15px;
}
.show {
  display: block;
  animation: fadeInScale 0.4s ease-out;
  position: absolute;
  top: 10vh;
  left: calc(50% - 15%);
  height: 60vh;
  padding: $_10px $_15px;
  width: 35%;
  z-index: 99;
  background-color: #d7c7ec;
  box-shadow: $_2px $_2px $_6px #6e316e, (-$_2px) (-$_2px) $_6px #6e316e;
  border-radius: $_15px;
}

@include keyframes(fadeInScale) {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.cart-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 $_10px;
  .cart-title {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
  }

  .cart-clear-btn {
    @include header-button-shape;
    cursor: pointer;
  }

  .cart-close-btn {
    position: absolute;
    top: $_10px;
    right: $_10px;
    cursor: pointer;
    transition: 0.5s ease;
    width: $_25px;
    height: $_25px;

    .close-wrap {
      @include cross;
    }

    &:hover {
      transform: scale(0.94);
    }
    .close-wrap {
      &::before {
        content: "";
        position: absolute;
        top: $_10px;
        display: block;
        width: $_24px;
        height: $_3px;
        background: #676262;
        transform: rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: $_10px;
        display: block;
        width: $_24px;
        height: $_3px;
        background: #676262;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      transform: scale(0.94);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
.cart-stuff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $_15px 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
}
}

.total-sum {
  font-size: 1.125rem;
  color: #000000;
  font-weight: 400;
}

.item-wrap {
  width: 100%;
  height: 40%;
  border: 0.5px solid #6e316e;
  border-radius: $_15px;
  box-shadow: 0px $_1px $_2px rgba(0,0,0,0.1), 
            0px $_2px $_4px rgba(0,0,0,0.1), 
            0px $_4px $_8px rgba(0,0,0,0.1), 
            0px $_8px $_16px rgba(0,0,0,0.1);
  margin-bottom: $_3px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.img-wrap {
  overflow: hidden;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  display: flex;
  object-fit: contain;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}



.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;

  .item-title {
    text-transform: capitalize;
    letter-spacing: $_1px;
    font-size: 1.5rem;
    font-weight: 600;
    display: block;
  } 
  
  .item-price {
    display: block;
    font-size: $_20px;
    font-weight: 600;
    letter-spacing: $_1px;
  }

  .quantity-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .quantity-btn{
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 0.875rem;
      cursor: pointer;
      width: $_20px;
      height: $_20px;
      font-weight: 600;
      border: none;
      border-radius: 10%;
      box-shadow: 0px $_1px $_2px rgba(0,0,0,0.1), 
            0px $_2px $_4px rgba(0,0,0,0.1), 
            0px $_4px $_8px rgba(0,0,0,0.1), 
            0px $_8px $_16px rgba(0,0,0,0.1);
           &:hover {
        transform: scale(0.94);
      }
  
      &:active {
        transform: scale(0.9);
      }
    }
      #minus{
          background: round;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-origin: content-box;
        background-image: url(../img/icons/minus-solid.svg);

      }
      #plus {
        background: round;
        background-image: url(../img/icons/plus-solid.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;

      }
    

    #item-number {
      font-size: 1.25rem;
      font-weight: 400;
      letter-spacing: $_1px;
    }


  }
}

.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $_10px 0;
  width: 95%;
  height: 100%;
  margin: auto;
}

.item-delete-btn {
  position: relative;
  @include closeBtnCart;
  font-size: 1.125rem;
  width: $_30px;
  height: $_30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  background-image: url(../img/icons/trash-can-regular.svg);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
