body {
  position: relative;
  z-index: 1;
}

.modal-open {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #de83de33;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

header {
  background-color: #d7c7ec;
  padding: 20px 0;
  margin-bottom: 30px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  @include header-button-shape;
  .logo-link {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
  }
}

#cart-button {
  @include header-button-shape;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}

.search-field-wrap {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  // overflow: hidden;

  .clear-btn {
    position: absolute;
    top: 15px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s ease;
    width: 25px;
    height: 25px;
    z-index: 3;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      display: block;
      width: 20px;
      height: 3px;
      background: rgba(103, 98, 98, 0.7);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      display: block;
      width: 20px;
      height: 3px;
      background: rgba(103, 98, 98, 0.7);
      transform: rotate(-45deg);
    }
  }

  #search-input {
    box-shadow: inset 0 0 6px black;
    border-radius: 20px;
    padding: 15px 10px;
    font-size: 20px;
    width: 100%;
    text-align: start;
    border: none;
    z-index: 3;
  }
}

.options {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 2;
  width: 100%;
}

.option-item {
  font-size: 20px;
  box-shadow: inset 0 0 6px black;
  background-color: #fff;
  background: white;
  list-style: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 20px 15px 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s ease;

  &:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.no-matches {
  font-size: 20px;
  box-shadow: inset 0 0 6px black;
  background-color: #fff;
  background: white;
  list-style: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 20px 15px 10px;
  text-transform: capitalize;
  transition: 0.5s ease;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  transition: 0.8s ease-in-out;
  position: absolute;
  top: 30vh;
  left: 50%;
  transform: translate(-50%);
  padding: 10px 15px;
  width: 35%;
  z-index: 99;
  border: 2px solid #6e316e;
  background-color: #d7c7ec;
  box-shadow: 2px 2px 6px #6e316e, -2px -2px 6px #6e316e;
  border-radius: 15px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.cart-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 10px;
  .cart-title {
    font-size: 24px;
    color: #000000;
    font-weight: 600;
  }

  .cart-clear-btn {
    @include header-button-shape;
    cursor: pointer;
  }

  .cart-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    width: 25px;
    height: 25px;

    .close-wrap {
      @include cross;
    }

    &:hover {
      transform: scale(0.94);
    }
    .close-wrap {
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #676262;
        transform: rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #676262;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      transform: scale(0.94);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
.cart-stuff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
  width: 90%;
  margin: auto;
}

.total-sum {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}

.item-wrap {
  width: 100%;
  border: 2px solid #6e316e;
  border-radius: 15px;
}

.item-content img {
  width: 50%;
  border-radius: 15px;
}

.item-title,
.item-price {
  display: block;
}

.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 90%;
  margin: auto;
}

.item-delete-btn {
  position: relative;
  @include closeBtnCart;
  width: 30px;
  height: 30px;
  &::before {
    content: "";
    position: absolute;
    top: 13px;
    right: 4px;
    display: block;
    width: 20px;
    height: 3px;
    background: #1f0d0d;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 13px;
    right: 4px;
    display: block;
    width: 20px;
    height: 3px;
    background: #1f0d0d;
    transform: rotate(-45deg);
  }
}
