body {
  position: relative;
  z-index: 1;
}

.modal-open {
  overflow: hidden;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #de83de33;
    width: 100%;
    height: 100%;
    z-index: 20;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

header {
  background-color: #d7c7ec;
  padding: 20px 0;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  @include header-button-shape;
  .logo-link {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
  }
}

#cart-button {
  @include header-button-shape;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}

.search-field-wrap {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;

    .clear-btn {
      position: absolute;
      top: 15px;
      right: 12px;
      cursor: pointer;
      transition: 0.5s ease;
      width: 25px;
      height: 25px;

      &::before {
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width: 20px;
        height: 3px;
        background: rgba(103, 98, 98, 0.7);
        transform: rotate(45deg);
      }
      
      &::after {
        content: '';
        position: absolute;
        top: 10px;
        display: block;
        width: 20px;
        height: 3px;
        background: rgba(103, 98, 98, 0.7);
        transform: rotate(-45deg);
      }
  }

  #search-input {
    box-shadow: inset 0 0 6px black;;
    border-radius: 20px;
    padding: 15px 10px;
    font-size: 20px;
    width: 100%;
    text-align: start;
    border: none;
    
  }
}

.modal {
  display: none;
  transition: 0.8s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  padding: 15px 20px;
  width: 35%;
  z-index: 99;
  border: 2px solid #6e316e;
  background-color: #d7c7ec;
  box-shadow: 2px 2px 6px #6e316e, -2px -2px 6px #6e316e;
  border-radius: 15px;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.cart-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .cart-title {
    font-size: 24px;
    color: #000000;
    font-weight: 600; 
  }

  .cart-clear-btn {
    @include header-button-shape;
    margin-right: 35px;
    cursor: pointer;
  }

  
.cart-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  transition: 0.5s ease;
  width: 25px;
  height: 25px;

  .close-wrap {

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      display: block;
      width: 24px;
      height: 3px;
      background: #676262;
      transform: rotate(45deg);
    }
    
    &::after {
      content: '';
      position: absolute;
      top: 10px;
      display: block;
      width: 24px;
      height: 3px;
      background: #676262;
      transform: rotate(-45deg);
    }
  }  
  
  &:hover {
    transform: scale(0.94);
  }

  &:active {
    transform: scale(0.9);

  }
}



  .cart-stuff {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #6e316e;
    border-radius: 15px;
    padding: 10px;
  }

  .card {
    display: flex;
    justify-content: space-between;
    border: 2px solid #6e316e;
    border-radius: 15px;
    padding: 10px;
  }

  .total-sum {
    font-size: 18px;
    color: #000000;
    font-weight: 400; 
  }
}