body {
  position: relative;
  z-index: 1;
}

.modal-open {
  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background: #de83de33;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
}

.container {
  max-width: 1170px;
  margin: auto;
}

header {
  background-color: #d7c7ec;
  padding: 20px 0;
  margin-bottom: 30px;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrap {
  @include header-button-shape;
  .logo-link {
    font-size: 24px;
    color: #000000;
    font-weight: 400;
  }
}

#cart-button {
  position: relative;
  z-index: 22;
  @include header-button-shape;
  font-size: 24px;
  color: #000000;
  font-weight: 400;
  cursor: pointer;
}

.search-field-wrap {
  position: relative;
  width: 60%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;

  .search-button {
    background-image: url("../img/search.svg");
    display: block;
    position: absolute;
    top: 15px;
    right: 50px;
    cursor: pointer;
    transition: 0.5s ease;
    width: 25px;
    height: 25px;
    z-index: 4;
    border: none;
    background-color: white;
    background-size: cover;
  }

  .clear-btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 12px;
    cursor: pointer;
    transition: 0.5s ease;
    width: 25px;
    height: 25px;
    z-index: 5;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      display: block;
      width: 20px;
      height: 3px;
      background: rgba(103, 98, 98, 0.7);
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      display: block;
      width: 20px;
      height: 3px;
      background: rgba(103, 98, 98, 0.7);
      transform: rotate(-45deg);
    }
  }

  #search-input {
    box-shadow: inset 0 0 6px black;
    border-radius: 20px;
    padding: 15px 10px;
    font-size: 20px;
    width: 100%;
    text-align: start;
    border: none;
    z-index: 3;
  }
}

.options {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 80%;
  left: 0;
  z-index: 2;
  width: 100%;
}

.option-item {
  font-size: 20px;
  box-shadow: inset 0 0 6px black;
  background-color: #fff;
  background: white;
  list-style: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 20px 15px 10px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s ease;

  &:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.no-matches {
  font-size: 20px;
  box-shadow: inset 0 0 6px black;
  background-color: #fff;
  background: white;
  list-style: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.16);
  margin: 0;
  padding: 20px 15px 10px;
  text-transform: capitalize;
  transition: 0.5s ease;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.hidden {
  display: none;
}

.modal {
  display: none;
  position: absolute;
  top: 10vh;
  left: calc(50% - 15%);
  height: 50vh;
  padding: 10px 15px;
  width: 35%;
  z-index: 99;
  border: 2px solid #6e316e;
  background-color: #d7c7ec;
  box-shadow: 2px 2px 6px #6e316e, -2px -2px 6px #6e316e;
  border-radius: 15px;
}
.show {
  display: block;
  animation: fadeInScale 0.4s ease-out;
  position: absolute;
  top: 10vh;
  left: calc(50% - 15%);
  height: 60vh;
  padding: 10px 15px;
  width: 35%;
  z-index: 99;
  border: 2px solid #6e316e;
  background-color: #d7c7ec;
  box-shadow: 2px 2px 6px #6e316e, -2px -2px 6px #6e316e;
  border-radius: 15px;
}

@include keyframes(fadeInScale) {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.cart-head {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 0 10px;
  .cart-title {
    font-size: 24px;
    color: #000000;
    font-weight: 600;
  }

  .cart-clear-btn {
    @include header-button-shape;
    cursor: pointer;
  }

  .cart-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: 0.5s ease;
    width: 25px;
    height: 25px;

    .close-wrap {
      @include cross;
    }

    &:hover {
      transform: scale(0.94);
    }
    .close-wrap {
      &::before {
        content: "";
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #676262;
        transform: rotate(45deg);
      }

      &::after {
        content: "";
        position: absolute;
        top: 10px;
        display: block;
        width: 24px;
        height: 3px;
        background: #676262;
        transform: rotate(-45deg);
      }
    }

    &:hover {
      transform: scale(0.94);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}
.cart-stuff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px 0;
  width: 100%;
  height: 100%;
  margin: auto;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
}
}

.total-sum {
  font-size: 18px;
  color: #000000;
  font-weight: 400;
}

.item-wrap {
  width: 100%;
  height: 40%;
  border: 0.5px solid #6e316e;
  border-radius: 15px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
  margin-bottom: 3px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.img-wrap {
  overflow: hidden;
  border-radius: 10%;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  display: flex;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}



.item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;

  .item-title {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    display: block;
  } 
  
  .item-price {
    display: block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .quantity-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .quantity-btn{
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 14px;
      cursor: pointer;
      width: 20px;
      height: 20px;
      font-weight: 600;
      border: none;
      border-radius: 10%;
      box-shadow: 0px 1px 2px rgba(0,0,0,0.1), 
            0px 2px 4px rgba(0,0,0,0.1), 
            0px 4px 8px rgba(0,0,0,0.1), 
            0px 8px 16px rgba(0,0,0,0.1);
           &:hover {
        transform: scale(0.94);
      }
  
      &:active {
        transform: scale(0.9);
      }
    }
      #minus{
          background: round;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-origin: content-box;
        background-image: url(../img/icons/minus-solid.svg);

      }
      #plus {
        background: round;
        background-image: url(../img/icons/plus-solid.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;

      }
    

    #item-number {
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1px;
    }


  }
}

.item-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  width: 95%;
  height: 100%;
  margin: auto;
}

.item-delete-btn {
  position: relative;
  @include closeBtnCart;
  font-size: 18px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  background-image: url(../img/icons/trash-can-regular.svg);
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
