@import "./_cdn.scss";
@import "./_mixins.scss";
@import "./var.scss";
@import "./header.scss";
@import "./cards.scss";
@import "./slider.scss";
@import "./footer.scss";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #efebf5;
}
