.modal-window {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 20;
  background-color: rgba(215, 199, 236, .4);
  .modal{
    position: relative;
    left: 25%;
    top: 20vh;
    width: 50%;
    height: 70%;
    box-shadow: $_2px $_2px $_6px #6e316e, (-$_2px) (-$_2px) $_6px #6e316e;
    border-radius: $_20px;
    transition: 0.3s ease;
    background-color: #d7c7ec;
    padding: $_8px $_15px;
  }
}

.modal-window.show {
  display: block;
  animation: fadeInScale 0.4s ease-out;
}

.modal-close-btn {
  position: absolute;
  top: $_10px;
  right: $_10px;
  cursor: pointer;
  transition: 0.5s ease;
  width: $_25px;
  height: $_25px; 
  z-index: 26;
  .close-wrap {
    @include cross;
  }
  &:hover {
    transform: scale(0.94);
  }
  &:active {
    transform: scale(0.9);
  }
}

@include keyframes(fadeInScale) {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
}


.cart-content {
  width: 100%;
  height: 100%;
}

.cart-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 $_5px;
  height: 10%;
  width: 90%;
  .cart-title {
    font-size: 1.5rem;
    color: #000000;
    font-weight: 600;
  }
  .cart-clear-btn {
    @include header-button-shape;
    cursor: pointer;
    width: 20%;
  }
}


.cart-stuff {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $_5px 0;
  width: 100%;
  height: 80%;
  margin: auto;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
}
}

.total-sum {
  font-size: $_20px;
  color: #000000;
  font-weight: 400;
    width: 100%;
  background-color:#d7c7ec;
  padding: $_3px _3px 0;
  display: flex;
  align-items:center;
  justify-content: space-between;
}

@media(max-width: 1024px) {
  .modal {
    width: 55%;
  }
  .show {
    padding: $_5px $_5px;
    width: 55%;
    top: 25vh;
    left: 25%;
    height: 60vh;
  }
}
@media(max-width: 600px) {
  .modal {
    width: 70%;
  }
  .show {
    width: 70%;
        height: 70vh;
        top: 20vh;
        left: 15%;
  }
}

@media (max-width: 480px) {
  .cart-stuff {
    padding: $_8px 0;
  }
  .cart-head {
    padding: 0 0 $_5px;
  }
 .show {

  .cart-close-btn {
    top: $_5px;
    right: 0px;
    &::before{
      top: $_5px;
      right: 0px;
    }
    &::after{
      top: $_5px;
      right: 0px;
    }
  }
}
}

@media(max-width: 340px) {
  .modal {
    width: 100%;
  }
  .show {
    width: 100%;
    left: 0;
    top: 15vh;
  }
}


// cardContext

.card-content{
  display: flex;
  padding: $_25px $_10px;
  height: 100%;
  position: relative;
  .card-modal-button {
    position: absolute;
    width: 80%;
    right: $_30px;
    bottom: $_15px;
    @include header-button-shape;
    padding: $_10px;
    font-size: $_30px;
    font-weight: 600;
}
  .content-img-wrap{
      overflow: hidden;
      border-radius: $_25px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      height: 100%;
      display: flex;
      object-fit: contain;
      background-color: #fff;
      box-shadow: $_2px $_2px $_6px #615761, (-$_2px) (-$_2px) $_6px #6e316e;
      .content-img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
  }
}  



.content-info-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  width: 50%;
  padding: 0 $_15px;
  background: rgba(110, 49, 110, .5);
  .content-title{
    text-transform: capitalize;
    font-size: $_40px;
    line-height: $_40px;
    font-weight: 600;
    letter-spacing: $_2px;
    text-align: center;
  }
  .content-descr-wrap{
    height: 25%;
    overflow: scroll;
    display: flex;
    align-items: flex-start;
    width: 100%;
    p{
      text-transform: capitalize;
      font-size: $_24px;
    }
  }
  .content-price-wrap{
    display: flex;
    align-items: center;
    width: 100%;
    p{
      font-size: $_30px;
      font-weight: 600;
    }
  }

}


